// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    font-size: 0.875rem !important;
}
#navcode {
    input {
        background-color: #494e53;
        border: 0px;
        border-radius: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        &:focus {
            background-color: #fff;
        }
    }
}

.sidebar {
    font-size: 14px;
    margin-top: 50px;
    li {
        a {
            font-weight: 600;
            padding-left: 5px;
            color: #333;
            .sidebarIcon {
                margin-right: 0.5rem;
            }

            &:hove {
                color: #eee;
            }
        }

        .active {
            color: #29f !important;
        }
    }

    h6 {
        padding-left: 0.5rem;
    }
}

.main-body {
    margin-top: 50px !important;
}
